In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("pca_transformed_output.csv")
df.head()

        PC1       PC2       PC3       PC4       PC5
0 -2.032394 -1.940833 -2.920893  1.823003 -1.242805
1 -2.113285  1.149945 -0.508009  1.206858  0.390155
2  6.308554  0.292239  0.026216 -0.489533  0.653353
3 -2.046318  1.781729 -0.186375  1.015508  0.712101
4  6.214793  0.441817 -0.112234 -0.243980  0.261503